*{
    margin: 0;
    padding: 0;   
    font-family: 'Hubballi', cursive;
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background-color:linen;
}

header{
    text-align: center;
    background-color: azure;
    padding-bottom: 10px;
}

h1{
    margin: 5px;
    font-family: 'BhuTuka Expanded One', cursive;
    font-size: 50px;
}

.mainbody{
    display: flex;
    justify-content: center;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

:root{
    --size: 16;
}

.container{
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
    border: solid black;
    background-color: white;

    margin: 10px 30px;
}

.grid{
    border: dashed black .5px;
}


button{
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    -webkit-appearance: none;
    border: none;
    background-color: grey;
    box-shadow: 2px 2px lightgray;
    color: beige;
}


.slidecontainer {
    width: 600px;
    align-self: center;
    margin-left: 90px;
    margin-bottom: 20px;
    text-align: center;
  }  

  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(154, 199, 199);
    cursor: pointer;
  }
